{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'instagram/style/istagram.css' %}" />
  </head>
  <body>
<nav class="d-flex justify-content-between">
  <a href=""><img src="{% static 'instagram/images/logo.png' %}" alt=""
    /></a></a>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
    <ul>
      <li>
        <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-plus-square" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-plus-square" aria-hidden="true"></i></a>
      </li>
    </ul>
</nav>

  </body>
</html>
